/* index.css */
body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #282c34;
  padding: 10px;
  color: white;
  text-align: center;
}

header nav {
  margin-top: 10px;
}

header nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.movie-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.movie-card img {
  width: 200px;
  height: auto;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.movie-detail img {
  width: 300px;
  height: auto;
}

.movie-detail {
  text-align: center;
  padding: 20px;
}
